doctype html
html(lang="en")
  head
    title=name()
    meta(charset="UTF-8")
    meta(name="Description" content=desc())
    meta(name="theme-color" content=theme())
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // scripts
    script(src=assetPath('bundle.js'))
    script(src=assetPath('pwa.js'))
    script(src=assetPath('index.js'))
    script(src=assetPath('rainbow-custom.min.js'))
    // css
    link(rel='stylesheet' href=assetPath('index.css'))
    link(rel='stylesheet' href=assetPath('github.css'))
    // icons
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    each icon in iconLinks()
      link(rel=icon.rel sizes=icon.sizes href=icon.href)
    // pwa
    link(rel="manifest", href="manifest.webmanifest")
  body
    div.flex
      textarea
      #results